@model DegreeProjectsSystem.Models.ViewModels.CareerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Crear Programa";
}

<form method="post">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.Career.Id != 0)
    {
        // Actualizar
        title = "Actualizar Programa";
        <input type="hidden" asp-for="Career.Id" />
    }

    <div class="col-12 border-bottom mt-5">
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Career.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Career.Name" class="form-control" placeholder="Ejemplo: Ingeniería Biomédica" />
                <span asp-validation-for="Career.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                Tipo de Programa:
            </div>
            <div class="col-8">
                @Html.DropDownListFor(pt => pt.Career.ProgramTypeId, Model.ProgramTypeList,
                "Seleccione un tipo de programa....",
                new { @class = "form-control" })
                <span asp-validation-for="Career.ProgramTypeId" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Career.Active"></label>
            </div>
            <div class="col-4">
                <select asp-for="Career.Active" class="form-control">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.Career.Id != 0)
                {
                    <partial name="_ButtonsUpdateAndReturn" model="Model.Career.Id" />
                }
                else
                {
                    <partial name="_ButtonsCreateAndReturn" />
                }
            </div>
        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}