@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aplicación de Registro y Control de Trabajos de Grado, Facultad Ciencias Exactas y Aplicadas</a>.</p>
</div>
