@model DegreeProjectsSystem.Models.ViewModels.DepartmentFacultyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Crear Departamento De Facultad";
}

<form method="post">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.DepartmentFaculty.Id != 0)
    {
        // Actualizar
        title = "Actualizar Departamento De Facultad";
        <input type="hidden" asp-for="DepartmentFaculty.Id" />
    }

    <div class="col-12 border-bottom mt-5">
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="DepartmentFaculty.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="DepartmentFaculty.Name" class="form-control" placeholder="Ejemplo: Ciencias Aplicadas" />
                <span asp-validation-for="DepartmentFaculty.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                Facultad:
            </div>
            <div class="col-8">
                @Html.DropDownListFor(ne => ne.DepartmentFaculty.FacultyId, Model.FacultyList,
                "Seleccione una facultad....",
                new { @class = "form-control" })
                <span asp-validation-for="DepartmentFaculty.Faculty" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-4">
                <label asp-for="DepartmentFaculty.Active"></label>
            </div>
            <div class="col-4">
                <select asp-for="DepartmentFaculty.Active" class="form-control">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.DepartmentFaculty.Id != 0)
                {
                    <partial name="_ButtonsUpdateAndReturn" model="Model.DepartmentFaculty.Id" />
                }
                else
                {
                    <partial name="_ButtonsCreateAndReturn" />
                }
            </div>
        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}